.App{
  font-family: 'neodgm';
}

.content{
  height: 30vh;
  background-color: #FFFB84;
  text-align: center;
  margin: auto;
  padding: 30px;
  font-size: 35px;
}

.footer_camera {
  display: flex;
  margin: auto;
  /* height: 30px; */
  width: 31px;
  padding-top:14px;
}

.footer_camerabutton {
  text-align: center;
  display: block;
  position:fixed;
  bottom:60px;
  width:100%;
  z-index:999;
  left: 80%;
}

.circle {
  /* box-shadow: 2px 2px 2px 2px gray; */
  background-color: #FFE969;
  border-radius: 50%;
  height:60px;
  width:60px;
  text-align: center;
  margin-top: -5px;
}
.logoutbtn {
  border: none;
  border-radius: 20px;
  background-color: #ffe969;
  font-family: 'neodgm';
  height: 30px;
  font-size: 15px;
  margin: auto;
  color: black;
}
.backbtn {
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  font-family: 'neodgm';
  height: 30px;
  font-size: 15px;
  margin: auto;
  margin-right: 10px;
  color: black;
}

.btnCt {
  margin: auto;
  margin-top:20px;
}

.infoCt {
  width:80%;
  margin: auto;
  margin-bottom:20px;
}

.footer_camera2 {
  display: flex;
  /* height: 30px; */
  margin-left: 90px;
  width: 45px;
}

.footer_camerabutton2 {
  text-align: center;
  display: block;
  position:fixed;
  bottom:60px;
  width:70%;
  z-index:999;
  left: 60%;
}
.buttonCt {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.closebtn {
  background-color: #D9D9D9;
  color: black;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}
.modalcontent {
  font-family: 'neodgm';
  text-align: center;
  display: flex;
  flex-direction: column;
}
.modalheader {
  border: none !important;
  font-family: 'neodgm';
  padding-bottom: 0 !important;
}
.circle2 {
  /* box-shadow: 2px 2px 2px 2px gray; */
  background-color: #FFE969;
  border-radius: 50%;
  height:60px;
  width:60px;
  text-align: center;
  margin-top: -5px;
}